@charset "utf-8";

// Brand Colors


// Brand Fonts
// Import a Google Font

// ! Update Bulma's global variables

// ! COLORS
//  initial variables
//$black: $one-dark-blue;
//$grey-darker: $one-med-blue;
//$grey-dark: $one-med-blue;
//$grey: $one-highlight-blue;
//$grey-lighter: $one-light-blue;
//$grey-light: $one-light-gray;

$custom-blue: #395ff7;

$primary: $custom-blue;
$link: $primary;

//* ------------------------------------------------------
// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
//* ------------------------------------------------------

// Overwrite some rules for customization

.card {
    border-radius: 20px;
}

.milestone-card {
    background-color: $white;

    .milestone-card-arrow {
        margin-top: 5px;
        transform: translate(0, 0);
        transition: transform 0.3s;
    }

}

.milestone-card:hover {
    background-color: $primary;
    color: #fff;
    transition: background-color 0.7s ease;

    .milestone-card-arrow {
        transform: translate(0, 8px);
    }
}